<div class="example-container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Budget</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <mat-sidenav-container  class="example-sidenav-container">
    <mat-sidenav #snav color="Primary">
      <mat-nav-list>
        <a mat-list-item routerLink="/tax-plan" routerLinkActive="active" ariaCurrentWhenActive="page">Tax Plan</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-toggle [selectedItem]="selectedFinancialYear" [data]="financialYears" (selectionChange)="onFinancialYearChange($event)"></app-toggle>
      <app-toggle [selectedItem]="selectedMonth" [data]="months" (selectionChange)="onMonthChange($event)"></app-toggle>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>