<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Investment Name</mat-label>
    <input matInput [(ngModel)]="investmentName" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Investment Amount</mat-label>
    <input matInput [(ngModel)]="investmentAmount" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>No of Months</mat-label>
    <input matInput [(ngModel)]="noOfMonths" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Section</mat-label>
    <input matInput [(ngModel)]="section" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Investing In</mat-label>
    <input matInput [(ngModel)]="investingIn" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
   <button color="accent" mat-button mat-dialog-close >Cancel</button>
  <button color="primary" mat-button mat-dialog-close (click)="addTaxPlan()" cdkFocusInitial *ngIf="!isEditMode">Add Tax Plan</button>
  <button color="warn" mat-button mat-dialog-close (click)="updateTaxPlan()" *ngIf="isEditMode" cdkFocusInitial>Update Tax Plan</button>
</mat-dialog-actions>