<div class="container">
    <div class="header">
        <h2>Tax Plan</h2>
        <button mat-raised-button color="primary" (click)="openTaxPlanDialog()">Add Tax Plan</button>
    </div>
  <table mat-table [dataSource]="taxPlans" class="mat-elevation-z2">
    <ng-container matColumnDef="investingIn">
      <th mat-header-cell *matHeaderCellDef> Investing In </th>
      <td mat-cell *matCellDef="let plan"> {{plan.investingIn}} </td>
    </ng-container>

    <ng-container matColumnDef="section">
      <th mat-header-cell *matHeaderCellDef> Section </th>
      <td mat-cell *matCellDef="let plan"> {{plan.section}} </td>
    </ng-container>

    <ng-container matColumnDef="scheme">
      <th mat-header-cell *matHeaderCellDef> Scheme </th>
      <td mat-cell *matCellDef="let plan"> {{plan.investmentName}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let plan"> ₹{{plan.investmentAmount}} </td>
    </ng-container>

    <ng-container matColumnDef="months">
      <th mat-header-cell *matHeaderCellDef> Months </th>
      <td mat-cell *matCellDef="let plan"> {{plan.noOfMonths}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let plan; let i = index">
        <button mat-icon-button color="accent" (click)="openTaxPlanDialog(plan, i)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deletePlan(plan.taxPlanForFinancialYearId)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="openPlanTransactions(plan, i)">
          <mat-icon>receipt_long</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['investingIn', 'section', 'scheme', 'amount', 'months', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['investingIn', 'section', 'scheme', 'amount', 'months', 'actions']"></tr>
  </table>
</div>
